name: Package liblinenoise

on:
  workflow_dispatch:
  push:
    paths:
      - 'packages/liblinenoise/**'
      - '.github/workflows/package-liblinenoise.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [amd64, arm64]
        include:
          - platform: amd64
            docker_platform: linux/amd64
          - platform: arm64
            docker_platform: linux/arm64
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Build liblinenoise for ${{ matrix.platform }}
        run: |
          docker run --rm --platform=${{ matrix.docker_platform }} \
            -v $PWD:/workspace \
            -w /workspace \
            ubuntu:20.04 \
            bash -c '
              
              source scripts/build-helpers/build-common.sh
              install_build_dependencies liblinenoise
              build_package liblinenoise ${{ matrix.platform }}
            '
